<!DOCTYPE html>
<html>
    <head>
        <title>Static Flow</title>
    </head>
    <body>
        <form method="post">
            
            <input type="text" name="dpid" placeholder="dpid"/>
            <input type="number" name="priority" placeholder="priority"/>
            <input type="text" name="in-port" placeholder="inport"/>
            <input type="text" name="eth-type" placeholder="ethtype"/>
            <input type="text" name="destip" placeholder="destip"/>
            <input type="text" name="action" placeholder="action"/>
            <button type="submit">submit</button>
        </form>
    </body>
</html>